.comment {
	height: 40vh;
	background-color: var(--mainGray);
}

.comment__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
	/* border: solid red; */
}

.comment__wrapper > h4 {
	/* border: solid red; */
	/* width: 30%; */
	text-align: right;
	padding-left: 22rem;
}
